/*Erika KAMDOM FOTSO 3A FISE
Mise en page CSS
TP Fil rouge*/
/*Page de connexion*/
body {
    height: 100vh;
    margin: 0;
    /*Utilisation de cssgradiant.io pour les dégradés de couleur*/
     background: radial-gradient(circle,rgba(63, 94, 251, 1) 71%, rgba(252, 70, 107, 1) 100%);
    /*Activation de flexbox pour positionner les éléments plus facilement*/
     display: flex; 
     justify-content: center;
     align-items: center;
}
.connexion{
    color: white;
    font-weight: bold; /*texte en gras*/
}

.identifiant{
    color: white;
}

.mot_de_passe{
    color: white;
}

.Mot_de_passe_oublié a {
    color: white;
    font-style: italic; /*texte en italique*/
}

/**********/
